body {
    background-color: rgb(52, 65, 102);
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.smartphone-container {
    position: relative;

    width: fit-content;
    height: fit-content;

    border-radius: 42px;

    overflow: hidden;
}

.canvas {
    position: absolute;
    left: 50%;
    top: calc(50% - 5px);
    transform: translate(-50%, -50%);

    width: calc(100% - 14px);
    height: calc(100% - 26px);

    background-color: rgb(221, 237, 255);
    border-radius: 35px;

    overflow: hidden;
}

.camera {
    position: absolute;
    top: 10px;
    left: 10px;

    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}

.smartphone {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}

.image-input {
    max-width: 0;
    max-height: 0;

    opacity: 0;
    pointer-events: none;
}

.image-input__label {
    position: absolute;
    top: calc(50% + 60px);
    left: calc(50% + 148px);
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.reset-btn {
    all: unset;
    position: absolute;
    top: 50%;
    left: calc(50% + 148px);
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
}

.menu-btn {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, .8);
    color: white;
    transition: 200ms;
}

.menu-btn:hover {
    background-color: rgba(255, 255, 255, .2);
}

.user-image {
    position: absolute;
    top: 0;
    left: 0;

    width: 150px;
    height: 220px;

    cursor: grab;

    background-size: 100% 100%;
    background-position: center;
}

.user-image:active {
    cursor: grabbing;
}

.rotator {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.rotator__point {
    width: 15px;
    height: 15px;

    background-color: black;
    border-radius: 50%;

    cursor: pointer;
}

.rotator__bar {
    all: unset;
    display: block;
    width: 1px;
    height: 15px;
    background-color: black;
}

.resizers {
    position: absolute;

    width: 100%;
    height: 100%;
}

.resizer {
    position: absolute;

    background-color: rgb(52, 65, 102);
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
}

.resizer.nw {
    top: -7.5px;
    left: -7.5px;
    cursor: nw-resize;
}

.resizer.ne {
    top: -7.5px;
    right: -7.5px;
    cursor: ne-resize;
}

.resizer.se {
    bottom: -7.5px;
    right: -7.5px;
    cursor: se-resize;
}

.resizer.sw {
    bottom: -7.5px;
    left: -7.5px;
    cursor: sw-resize;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
}